.btn {
    width: 150px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    background-color: #5736A3;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover,
.btn:focus {
    background-color: #451E85;
}