.list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: inline-block;
    margin-right: 10px;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}